* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
}

body {
	display: flex;
	height: 100dvh;
	justify-content: center;
	align-items: center;
}

h1 {
	width: 200px;
	height: 150px;
	letter-spacing: 0.5px;
	font-size: 17px;
	border:  3px solid black;
	background-color: rgb(200, 200, 200);
	padding: 22.5px 10px 10px 80px;
}

.museum {
	position: relative;
	top: 19px;
	left: -67.5px;
	width: 110px;
	height: 70px;
	border-radius: 50%;
	border: 3px solid black;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
}